@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(14, 104, 14);
    height: 80px;
    padding: 15px;
    font-family: righteous, sans-serif;
}

li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.links{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.linktitulo{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
